*.dll
*.pdb
*.cache
.vs/*
GestaoFinanceira.Application/bin/*
GestaoFinanceira.Domain/bin/*
GestaoFinanceira.Infra.Caching/bin/*
GestaoFinanceira.Infra.CrossCutting/bin/*
GestaoFinanceira.Infra.Data/bin/*
GestaoFinanceira.Infra.Ioc/bin/*
GestaoFinanceira.Service.Api/bin/*
GestaoFinanceira.Application/obj/*
GestaoFinanceira.CrossCutting/obj/*
GestaoFinanceira.Domain/obj/*
GestaoFinanceira.Infra.Caching/obj/*
GestaoFinanceira.Infra.CrossCutting/obj/*
GestaoFinanceira.Infra.Data/obj/*
GestaoFinanceira.Infra.Ioc/obj/*
GestaoFinanceira.Service.Api/obj/*
GestaoFinanceira.Service.Api/Properties/*
GestaoFinanceira.Service.Api/appsettings.json